<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringCloudConfigServerApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-cloud-config-server" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.in28minutes.microservices.springcloudconfigserver.SpringCloudConfigServerApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>